.charts-content{
    position:relative;
    border:#f79b66 1px solid;
}
.charts-bg{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height:120px;
    background:linear-gradient(top, #ffcec3, #ffffff, #ffffff);
    background:-webkit-linear-gradient(top, #ffcec3, #ffffff, #ffffff);
    background:-moz-linear-gradient(top, #ffcec3, #ffffff, #ffffff);
    background:-ms-linear-gradient(top, #ffcec3, #ffffff, #ffffff);
    background:-o-linear-gradient(top, #ffcec3, #ffffff, #ffffff);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcec3',endColorstr='#ffffff',grandientType=1);
}
.chart-group{
    position:relative;
    padding:20px 0;
    margin:0 20px;
    border-bottom:#999 1px dotted;
}
.chart-group.not-border{
    border-bottom:0;
}
.chart-group h3{
    width:120px;
    float:left;
    text-align:center
}
.chart-items{
    float:left;
}
.chart-items a{
    color:#333;
}
.chart-items a:hover{
    color:#dc342b;
}
.chart-items dl{
    padding-left:25px;
    position:relative;
    overflow:hidden;
    line-height:30px;
}
.chart-items dd{
    width:130px;
    display:inline-block;
    display:-moz-inline-stack;
    *display:inline;
}
.hot, .new{
    background:url(../../static/img/icons.png) -470px -102px;
    display:inline;
    width:30px;
    height:11px;
    position:absolute;
    top:10px
}
.new{
    background-position:-470px -132px;
}
.chart-group h3 em{
    width:81px;
    height:85px;
    display:block;
    overflow:hidden;
    background:url(../../img/logo_85.png?v=7) no-repeat;
    margin:auto;
}
.chart-group h3 em.logo-dlt{
    background-position:0 -270px;
}
.chart-group h3 em.logo-pls{
    background-position:0 -360px;
}
.chart-group h3 em.logo-plw{
    background-position:0 -450px;
}
.chart-group h3 em.logo-fcsd{
    background-position:0 -90px;
}
.chart-group h3 em.logo-qxc{
    background-position:-81px 0;
    width:84px;
}
.chart-group h3 em.logo-qlc{
    background-position:0 -180px;
}
.chart-group h3 em.logo-cqssc, .chart-group h3 em.logo-hnwfc, .chart-group h3 em.logo-ajffc, .chart-group h3 em.logo-ajefc, .chart-group h3 em.logo-xjssc, .chart-group h3 em.logo-ynwfc, .chart-group h3 em.logo-jxssc{
    background-position:-85px -360px;
}
.chart-group h3 em.logo-syydj{
    background-position:-85px -450px;
}
.chart-group h3 em.logo-gdsyxw{
    background-position:-255px -90px;
}
.chart-group h3 em.logo-jxsyxw{
    background-position:-255px -180px;
}
.chart-group h3 em.logo-cqsyxw{
    background-position:-255px -265px;
}
.chart-group h3 em.logo-klb{
    background-position:-170px 0;
}
.chart-group h3 em.logo-jsks{
    background-position:-255px 0;
}