@layout("/common/_container.html"){
<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #FF6000 !important;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h1>用户列表</h1>
            </div>
            <ul id="myTab" class="nav nav-tabs" style="background-color: white;">
                <li class="active" onclick="switchUser(1)">
                    <a href="#ordinaryUser" data-toggle="tab">普通用户</a>
                </li>
                <li onclick="switchUser(2)">
                    <a href="#ordinaryUser" data-toggle="tab">代理用户</a>
                </li>
                <li onclick="switchUser(3)">
                    <a href="#ordinaryUser" data-toggle="tab">运营人员</a>
                </li>
                <li onclick="switchUser(4)">
                    <a href="#ordinaryUser" data-toggle="tab">主管理员</a>
                </li>
                <li onclick="switchUser(0)">
                    <a href="#ordinaryUser" data-toggle="tab">虚拟用户</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="ordinaryUser">
                    <div class="ibox-content">
                        <div class="row row-lg">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <#NameCon id="userName" name="用户名" />
                                    </div>
                                    <div class="col-sm-3">
                                        <#NameCon id="beginTime" name="注册开始日期" />
                                    </div>
                                    <div class="col-sm-3">
                                        <#NameCon id="endTime" name="注册结束日期" />
                                    </div>
                                    <div class="col-sm-3">
                                        <#button name="搜索" icon="fa-search" clickFun="User.search()"/>
                                    </div>
                                </div>
                                <input type="hidden" id="roleid" value="1" />
                                <div class="hidden-xs" id="roleTableToolbar" role="group" style="margin-top: 10px">
                                    <#button name="添加用户" icon="fa-plus" clickFun="User.openAddMgr()" />
                                    <!--<#button name="修改" icon="fa-edit" clickFun="User.openChangeUser()" space="true"/>-->
                                    <!--<#button name="删除" icon="fa-remove" clickFun="User.delRole()" space="true"/>-->
                                </div>
                                <div style="margin-top: -47px">
                                    <#table id="userTable" tabCss="table-striped"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/user/user.js"></script>
<script>
    laydate.render({
        elem: '#beginTime'
    });
    laydate.render({
        elem: '#endTime'
    });
    function switchUser(val) {
        $("#userName").val("");
        $("#beginTime").val("");
        $("#endTime").val("");
        $("#roleid").val(val);
        User.table.refresh({query: User.formParams()});
    }
</script>
@}
