<!DOCTYPE html>
<html>
   <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>咨询列表 - 福彩娱乐</title>
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/comm.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/pc_comm.css">
    
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/article_index.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/paging.css">

<link rel="stylesheet" href="${ctxPath}/static/css/layer.css" id="layuicss-skinlayercss"></head>
<body>
 
@include("/top.html"){}
<div class="content-container clear pt10">
    <div class="wide-content fl">
        <div class="border">
            <h1 class="article-title border-b">资讯列表</h1>
                <ul class="article-list medium-size">
                        <li>
                            <a class="c-main" href="咨询列表内页 - 福彩娱乐.html">老时时彩投注技巧 倍投拆分别犹豫</a>
                            <span class="c-remark">2018-01-15 16:57:30</span>                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/81">付款遇到问题怎么办？</a>
                            <span class="c-remark">2018-01-15 18:17:25</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/87">奖池高井喷多巨奖频 三大原因引爆1.72亿巨奖</a>
                            <span class="c-remark">2018-01-15 18:29:53</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/86">广西新彩王火速兑6547万 20元倍投成千万富翁</a>
                            <span class="c-remark">2018-01-15 18:28:14</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/68">[时时彩] 遗漏追号三玩法</a>
                            <span class="c-remark">2018-01-15 16:55:26</span>
                        </li>
                        <li>
                            <a class="c-white" href="http://www.haoy1314.com/Article/Detail/74">关于会员账户安全问题！</a>
                            <span class="c-remark">2018-01-15 17:26:28</span>
                        </li>
                        <li>
                            <a class="c-red" href="http://www.haoy1314.com/Article/Detail/80">关于本站用户的隐私保护？</a>
                            <span class="c-remark">2018-01-15 18:15:46</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/79">什么是彩票积分？</a>
                            <span class="c-remark">2018-01-15 18:14:49</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/73">客服QQ声明！！！</a>
                            <span class="c-remark">2018-01-15 17:24:24</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/67">[11选5]任选五投注实用攻略</a>
                            <span class="c-remark">2018-01-15 16:54:15</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/85">大乐透1.72亿得主变身</a>
                            <span class="c-remark">2018-01-15 18:25:55</span>
                        </li>
                        <li>
                            <a class="c-red" href="http://www.haoy1314.com/Article/Detail/84">双色球再井喷11注654万 广西一人或揽6547万</a>
                            <span class="c-remark">2018-01-15 18:24:20</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/66">新时时彩投注技巧 两招立即成老手</a>
                            <span class="c-remark">2018-01-15 16:52:21</span>
                        </li>
                        <li>
                            <a class="c-white" href="http://www.haoy1314.com/Article/Detail/72">关于各彩种不开奖或延迟开奖订单处理公告</a>
                            <span class="c-remark">2018-01-15 17:21:27</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/78">中奖之后如何提现？</a>
                            <span class="c-remark">2018-01-15 18:12:05</span>
                        </li>
                        <li>
                            <a class="c-red" href="http://www.haoy1314.com/Article/Detail/77">中奖之后彩金在哪里查收？</a>
                            <span class="c-remark">2018-01-15 18:11:00</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/65">[时时彩] 新手要避免的错误</a>
                            <span class="c-remark">2018-01-15 16:49:36</span>
                        </li>
                        <li>
                            <a class="c-hot" href="http://www.haoy1314.com/Article/Detail/71">关于浏览器不兼容问题</a>
                            <span class="c-remark">2018-01-15 17:17:26</span>
                        </li>
                        <li>
                            <a class="c-hot" href="http://www.haoy1314.com/Article/Detail/83">模仿老乡投注双色球 5年后中1129万元巨奖！！！</a>
                            <span class="c-remark">2018-01-15 18:22:28</span>
                        </li>
                        <li>
                            <a class="c-red" href="http://www.haoy1314.com/Article/Detail/82">头奖根本停不下来！大乐透5注头奖再送4125万！</a>
                            <span class="c-remark">2018-01-15 18:20:45</span>
                        </li>
                        <li>
                            <a class="c-white" href="http://www.haoy1314.com/Article/Detail/70">充值即赠送10%</a>
                            <span class="c-remark">2018-01-15 17:14:03</span>
                        </li>
                        <li>
                            <a class="c-main" href="http://www.haoy1314.com/Article/Detail/64">[时时彩]时时彩投注技巧 三种出号理论概率</a>
                            <span class="c-remark">2018-01-15 16:47:36</span>
                        </li>
                        <li>
                            <a class="c-white" href="http://www.haoy1314.com/Article/Detail/75">关于24小时在线自动充值</a>
                            <span class="c-remark">2018-01-15 17:44:00</span>
                        </li>
                        <li>
                            <a class="c-red" href="http://www.haoy1314.com/Article/Detail/76">我想在网站代购，如何充值？</a>
                            <span class="c-remark">2018-01-15 18:07:58</span>
                        </li>
                </ul>
            <div class="article-paging mt20">
                

<div class="paging c-main">
        <label class="ml0">首页</label>
        <label>上一页</label>

            <label class="active">1</label>
            <label>下一页</label>
        <label>尾页</label>
    <span class="ml10">页次:</span>
    <span class="c-hot">1</span>
    <span>/</span>
    <span>1</span>
    <span class="ml10">共:</span>
    <span class="c-hot">24</span>
    <span>条</span>
</div>

            </div>
        </div>
    </div>
    <div class="narrow-content fr">
        

<div class="tab-box " id="divNoticeBox">
    <div class="tab-head">
        <ul class="tac">
            <li style="width:77px;" class="first active"><label>公告</label></li>
            <li style="width:76px;"><label>新闻</label></li>
            <li style="width:77px;" class="last"><label>帮助</label></li>
        </ul>
    </div>
    <div class="tab-content notice-tab-content">
        <div>
                <ul class="article-list">
                  <li><label>.</label><a class="c-white text-overhide" href="新闻内页 - 福彩娱乐.html">充值即赠送10%</a></li>
                        <li><label>.</label><a class="c-hot text-overhide" href="http://www.haoy1314.com/Article/Detail/71">关于浏览器不兼容问题</a></li>
                        <li><label>.</label><a class="c-white text-overhide" href="http://www.haoy1314.com/Article/Detail/72">关于各彩种不开奖或延迟开奖订单处理公告</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/73">客服QQ声明！！！</a></li>
                        <li><label>.</label><a class="c-white text-overhide" href="http://www.haoy1314.com/Article/Detail/74">关于会员账户安全问题！</a></li>
                        <li><label>.</label><a class="c-white text-overhide" href="http://www.haoy1314.com/Article/Detail/75">关于24小时在线自动充值</a></li>
                </ul>
        </div>
        <div class="hide">
                <ul class="article-list">
                        <li><label>.</label><a class="c-red text-overhide" href="http://www.haoy1314.com/Article/Detail/82">头奖根本停不下来！大乐透5注头奖再送4125万！</a></li>
                        <li><label>.</label><a class="c-hot text-overhide" href="http://www.haoy1314.com/Article/Detail/83">模仿老乡投注双色球 5年后中1129万元巨奖！！！</a></li>
                        <li><label>.</label><a class="c-red text-overhide" href="http://www.haoy1314.com/Article/Detail/84">双色球再井喷11注654万 广西一人或揽6547万</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/85">大乐透1.72亿得主变身</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/86">广西新彩王火速兑6547万 20元倍投成千万富翁</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/87">奖池高井喷多巨奖频 三大原因引爆1.72亿巨奖</a></li>
                </ul>
        </div>
        <div class="hide">
                <ul class="article-list">
                        <li><label>.</label><a class="c-red text-overhide" href="http://www.haoy1314.com/Article/Detail/76">我想在网站代购，如何充值？</a></li>
                        <li><label>.</label><a class="c-red text-overhide" href="http://www.haoy1314.com/Article/Detail/77">中奖之后彩金在哪里查收？</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/78">中奖之后如何提现？</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/79">什么是彩票积分？</a></li>
                        <li><label>.</label><a class="c-red text-overhide" href="http://www.haoy1314.com/Article/Detail/80">关于本站用户的隐私保护？</a></li>
                        <li><label>.</label><a class="c-main text-overhide" href="http://www.haoy1314.com/Article/Detail/81">付款遇到问题怎么办？</a></li>
                </ul>
        </div>
    </div>
    <p class="tab-footer notice-tab-footer">
        <a class="c-remark" href="帮助中心/bzzx1.html">常见问题</a>
        <a class="c-remark" href="bzzx.html">热门问题</a>
        <a class="c-remark" href="bzzx.html">帮助中心</a>    </p>
</div>

        

<div id="divHotUsersBox" class="tab-box tab-hot-users mt10">
    <div class="tab-head">
        <ul>
            <li class="first active"><label>合买红人榜</label></li>
            <li class="last"><label>私买排行榜</label></li>
        </ul>
    </div>
    <div class="tab-content">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="numerical-column tal"></th>
                    <th class="tal">用户名</th>
                    <th class="tal">中奖金额</th>
                </tr>
            </thead>
            <tbody>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="top">1</em></td>
                            <td>HH**</td>
                            <td>2,829,161.99</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="top">2</em></td>
                            <td>玛莎**</td>
                            <td>2,782,490.31</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="top">3</em></td>
                            <td>脱衣*</td>
                            <td>2,764,669.11</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">4</em></td>
                            <td>FF*****</td>
                            <td>2,714,940.98</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="">5</em></td>
                            <td>国和**</td>
                            <td>2,676,012.59</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">6</em></td>
                            <td>天缩**</td>
                            <td>2,649,374.53</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="">7</em></td>
                            <td>A1*******</td>
                            <td>2,607,799.00</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">8</em></td>
                            <td>98*</td>
                            <td>2,593,149.37</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="">9</em></td>
                            <td>菊花*</td>
                            <td>2,586,971.90</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">10</em></td>
                            <td>家佳***</td>
                            <td>2,577,536.79</td>
                        </tr>
            </tbody>
        </table>
        <table class="hide" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th class="numerical-column tal"></th>
                    <th class="tal">用户名</th>
                    <th class="tal">中奖金额</th>
                </tr>
            </thead>
            <tbody>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="top">1</em></td>
                            <td>sd***</td>
                            <td>24,203.84</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="top">2</em></td>
                            <td>73*******</td>
                            <td>2,790.00</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="top">3</em></td>
                            <td>大汉**</td>
                            <td>1,800.00</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">4</em></td>
                            <td>y*</td>
                            <td>1,800.00</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="">5</em></td>
                            <td>he****</td>
                            <td>126.00</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">6</em></td>
                            <td>LM*******</td>
                            <td>18.00</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="">7</em></td>
                            <td>yu********</td>
                            <td>14.00</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">8</em></td>
                            <td>放荡**</td>
                            <td>0.00</td>
                        </tr>
                        <tr class="odd-numbered-line">
                            <td class="numerical-column"><em class="">9</em></td>
                            <td>大润*</td>
                            <td>0.00</td>
                        </tr>
                        <tr class="">
                            <td class="numerical-column"><em class="">10</em></td>
                            <td>魔*</td>
                            <td>0.00</td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>


                <div class="tab-box mt10 new-winning-box">
            <div class="tab-head">
                <em class="tab-title medium-size">最新中奖</em>
            </div>
            <div class="tab-content ptb5">
                <table cellpadding="0" cellspacing="0" id="tabNewWinning">
                    <tbody>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]A1*******</td>
                                <td class="c-red tar pr10">6,600.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]天缩**</td>
                                <td class="c-red tar pr10">5,700.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]玛莎**</td>
                                <td class="c-red tar pr10">7,200.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]FF*****</td>
                                <td class="c-red tar pr10">9,000.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]脱衣*</td>
                                <td class="c-red tar pr10">5,400.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]国和**</td>
                                <td class="c-red tar pr10">7,200.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]玛莎**</td>
                                <td class="c-red tar pr10">5,400.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]不可***</td>
                                <td class="c-red tar pr10">5,400.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]FF*****</td>
                                <td class="c-red tar pr10">5,400.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]天缩**</td>
                                <td class="c-red tar pr10">5,700.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]A1*******</td>
                                <td class="c-red tar pr10">5,400.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]98*</td>
                                <td class="c-red tar pr10">5,400.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]A1*******</td>
                                <td class="c-red tar pr10">12,600.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]天缩**</td>
                                <td class="c-red tar pr10">12,600.00</td>
                            </tr>
                            <tr>
                                <td class="c-main pl10">[重庆时时彩]FF*****</td>
                                <td class="c-red tar pr10">12,600.00</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
    @include("/footer.html"){}
    
    <input type="hidden" value="0" id="hidDisabledVercode">
    <script src="${ctxPath}/static/js/jquery-1.8.3.min.js"></script>
    <div id="cnzz_1540086460800_C9083CDB" style="display: none;"></div>
    <script src="${ctxPath}/static/js/layer.js"></script>
    <script src="${ctxPath}/static/js/comm.js"></script>
    <script src="${ctxPath}/static/js/pc_comm.js"></script>
    

</body></html>