<!DOCTYPE html>
<html>
<body>
    @include("/personal/common.html"){}

    <div class="wide-content fr">
        <div class="filter-table border">
            <div class="filter-head">
                <em class="c-hot fl">投注记录列表</em>
                <span class="fr c-remark">筛选投注记录</span>
            </div>
            <div class="filter-content border-b clear">
                <form method="get" action="http://www.haoy1314.com/Account/BettingRecord">
                    <span class="fl ml15 mr5 c-dark">彩种</span>
                    <select class="fl form-select" name="lt">
                        <option value="">所有</option>
                                <option value="Jsks">江苏快三</option>
                                <option value="Bjpks">北京PK10</option>
                                <option value="Hnwfc">河内五分彩</option>
                                <option value="Ynwfc">印尼五分彩</option>
                                <option value="Cqssc">重庆时时彩</option>
                                <option value="Xjssc">新疆时时彩</option>
                                <option value="Ajefc">埃及二分彩</option>
                                <option value="Ajffc">埃及分分彩</option>
                                <option value="Syydj">十一运夺金</option>
                                <option value="Gdsyxw">广东11选5</option>
                                <option value="Jxsyxw">江西11选5</option>
                                <option value="Fcsd">福彩3D</option>
                                <option value="Pls">排列3</option>
                                <option value="Plw">排列5</option>
                    </select>
                    <span class="fl ml15 mr5 c-dark">状态</span>
                    <select class="fl form-select" name="s">
                        <option value="">所有</option>
                        <option value="0">认购中</option>
                        <option value="1">已出票</option>
                        <option value="2">追号中</option>
                        <option value="100">已中奖</option>
                        <option value="101">未中奖</option>
                        <option value="8">未出票</option>
                        <option value="9">已撤单</option>
                    </select>
                    <span class="fl ml15 mr5 c-dark">时间</span>
                    <select class="fl form-select" name="t">
                        <option value="">一周内</option>
                        <option value="1month">一月内</option>
                        <option value="3month">三月内</option>
                        <option value="6month">半年内</option>
                    </select>
                    <button class="fl ml20">查找</button>
                </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>投注时间</th>
                        <th>彩种</th>
                        <th>期号</th>
                        <th>发起人</th>
                        <th>方案金额</th>
                        <th>投注金额</th>
                        <th>状态</th>
                        <th>中奖金额</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td colspan="9" class="list-empty c-remark">暂无投注记录数据</td>
                        </tr>
                </tbody>
            </table>
            <div class="paging-container mt20">
                

	<div class="paging c-main">
	        <label class="ml0">首页</label>
	        <label>上一页</label>
	        <label>下一页</label>
	        <label>尾页</label>
	    <span class="ml10">页次:</span>
	    <span class="c-hot">1</span>
	    <span>/</span>
	    <span>0</span>
	    <span class="ml10">共:</span>
	    <span class="c-hot">0</span>
	    <span>条</span>
	</div>
            </div>
        </div>
    </div>
</div>
    @include("/footer.html"){}
    <input type="hidden" value="0" id="hidDisabledVercode">
    <script src="${ctxPath}/static/js/jquery-1.8.3.min.js"></script>
    <div id="cnzz_1540216162970_C9083CDB" style="display: none;"></div>
    <script src="${ctxPath}/static/js/layer.js"></script>
    <script src="${ctxPath}/static/js/comm.js"></script>
    <script src="${ctxPath}/static/js/pc_comm.js"></script>
    <script>
       $("#bettingRecord").addClass("active");
    </script>
</body></html>