<head>
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/comm.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/pc_comm.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/bzzx/account_index.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/bzzx/account_comm.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/left_nav.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/paging.css">

<link rel="stylesheet" href="${ctxPath}/static/css/layer.css" id="layuicss-skinlayercss"></head>
 @include("/top.html"){}
<div class="content-container clear pt10">
    <div class="left-nav narrow-content fl">
    <h1>我的彩票</h1>
    <p>个人中心</p>
    <ul>
        <li class="" id="account"><a class="c-main" href="/account">信息概述</a></li>
        <li id="bettingRecord"><a class="c-main" href="/account/bettingRecord">投注记录</a></li>
    </ul>
    <p>资金管理</p>
    <ul>
        <li id="moneyRecord"><a class="c-main" href="/account/moneyRecord">收支记录</a></li>
        <li id="chargeRecord"><a class="c-main" href="/account/chargeRecord">充值记录</a></li>
        <li id="cashRecord"><a class="c-main" href="/account/cashRecord">提现记录</a></li>
        <li id="recharge"><a class="c-main" href="/account/recharge">我要充值</a></li>
        <li id="cash"><a class="c-main" href="/account/cash">我要提现</a></li>
    </ul>
    <p>信息管理</p>
    <ul>
        <li id="info"><a class="c-main" href="/account/info">资料修改</a></li>
        <li id="pwdMange"><a class="c-main" href="/account/password">密码管理</a></li>
        <li id="bankCard"><a class="c-main" href="/account/bankCard">银行卡管理</a></li>
    </ul>
</div>
