<!DOCTYPE html>
<html>
              
<body>
     <script src="${ctxPath}/static/js/bzzx/exchange.1.2.1.min.js" aync="true"></script>
     @include("/personal/common.html"){}

    <div class="wide-content fr">
        <div class="tab-box account-tab">
            <div class="tab-head">
                <ul>
                    <li class="active"><b>修改密码</b></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="set-prompt c-dark">用户密码是用户账户通行的一种保护，登陆密码和支付密码请牢记并不得外泄。</div>
                <div id="divChangePassword">
                    <div class="edit-row clear mt20">
                        <span class="fl c-dark">1、</span>
                        <i class="c-dark">修改登录密码</i>
                    </div>
                    <div class="edit-row clear mt20">
                        <span class="fl"><em class="c-hot pr5">*</em>原登录密码</span>
                        <input class="fl form-textbox" maxlength="32" data-regex="[/\S+/]" data-prompt="[&#39;原登录密码不能为空！&#39;]" type="password" name="oldPassword" placeholder="请输入原登录密码">
                    </div>
                    <div class="edit-row clear mt20">
                        <span class="fl"><em class="c-hot pr5">*</em>新登录密码</span>
                        <input class="fl form-textbox" id="txtNewPassword" maxlength="32" data-regex="[/\S+/]" data-prompt="[&#39;新登录密码不能为空！&#39;]" type="password" name="newPassword" placeholder="请输入新登录密码">
                    </div>
                    <div class="edit-row clear mt20">
                        <span class="fl"><em class="c-hot pr5">*</em>重复新密码</span>
                        <input class="fl form-textbox" maxlength="32" data-regex="[&#39;txtNewPassword&#39;]" data-prompt="[&#39;两次登录密码输入不一致！&#39;]" type="password" name="newPassword" placeholder="请再次输入新登录密码">
                    </div>
                    <div class="button-row mt20">
                        <span class="btn-red" id="btnChangePassword">修改</span>
                    </div>
                </div>
                <div id="divChangeCapitalPassword">
                    <div class="edit-row clear mt20">
                        <span class="fl c-dark">2、</span>
                        <i class="c-dark">修改资金密码（新注册用户资金密码请填登录密码）</i>
                    </div>
                    <div class="edit-row clear mt20">
                        <span class="fl"><em class="c-hot pr5">*</em>原资金密码</span>
                        <input class="fl form-textbox" maxlength="32" data-regex="[/\S+/]" data-prompt="[&#39;原资金密码不能为空！&#39;]" type="password" name="oldCapitalPassword" placeholder="请输入原资金密码">
                    </div>
                    <div class="edit-row clear mt20">
                        <span class="fl"><em class="c-hot pr5">*</em>新资金密码</span>
                        <input class="fl form-textbox" id="txtNewCapitalPassword" maxlength="32" data-regex="[/\S+/]" data-prompt="[&#39;新资金密码不能为空！&#39;]" type="password" name="newCapitalPassword" placeholder="请输入新资金密码">
                    </div>
                    <div class="edit-row clear mt20">
                        <span class="fl"><em class="c-hot pr5">*</em>重复新密码</span>
                        <input class="fl form-textbox" maxlength="32" data-regex="[&#39;txtNewCapitalPassword&#39;]" data-prompt="[&#39;两次资金密码输入不一致！&#39;]" type="password" name="newCapitalPassword" placeholder="请再次输入新资金密码">
                    </div>
                    <div class="button-row mt20">
                        <span class="btn-red" id="btnChangeCapitalPassword">修改</span>
                    </div>
                </div>
                <div class="precautions mt20 pt15 pb10">
                    <p class="c-black">注意事项</p>
                    <ol class="c-dark">
                        <li>修改密码时，请务必两次密码要一致，否则密码修改失败；</li>
                        <li>密码组合建议包含数字、英文、特殊字符串和符号，避免密码设置过于简单；</li>
                        <li>密码修改成功后，请务必牢记密码，如若忘记请联系客服人员修改。</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

    @include("/footer.html"){}
    
    <input type="hidden" value="0" id="hidDisabledVercode">
    <script src="${ctxPath}/static/js/jquery-1.8.3.min.js"></script>
    <div id="cnzz_1540216297638_C9083CDB" style="display: none;"></div>
    <script src="${ctxPath}/static/js/layer.js"></script>
    <script src="${ctxPath}/static/js/comm.js"></script>
    <script src="${ctxPath}/static/js/pc_comm.js"></script>
    <script src="${ctxPath}/static/js/bzzx/account_password.js"></script>
    <script>
       $("#pwdMange").addClass("active");
    </script>
</body></html>