<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>热门问题 - 福彩娱乐</title>
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/comm.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/pc_comm.css">
    
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/left_nav.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/bzzx/helper_comm.css">

<link rel="stylesheet" href="${ctxPath}/static/css/layer.css" id="layuicss-skinlayercss"></head>
<body>
 @include("/top.html"){}
<div class="content-container pt10 clear">
    <div class="left-nav narrow-content fl">
    <h1>帮助中心</h1>
    <p>新手上路</p>
    <ul>
        <li class="active"><a class="c-main" href="/helper">热门问题</a></li>
        <li class=""><a class="c-main" href="/helper/question">常见问题</a></li>
    </ul>
    <p>个人帐号</p>
    <ul>
        <li class=""><a class="c-main" href="/helper/register">登录注册</a></li>
        <li class=""><a class="c-main" href="/helper/security">信息安全</a></li>
    </ul>
    <p>充值提现</p>
    <ul>
        <li class=""><a class="c-main" href="/helper/recharge">账户充值</a></li>
        <li class=""><a class="c-main" href="/helper/cash">兑奖提现</a></li>
    </ul>
    <p>规则说明</p>
    <ul>
        <li class=""><a class="c-main" href="/helper/betting">网上投注</a></li>
        <li class=""><a class="c-main" href="/helper/chipped">跟单合买</a></li>
        <li class=""><a class="c-main" href="/helper/level">战绩等级</a></li>
    </ul>
</div>


    <div class="wide-content fr">
        <div class="main-box">
            <div class="hot-helper-bg">
                <p class="tac pt10">
                    <a class="c-link" href="/helper/register">如何注册</a>
                    <label class="c-remark">|</label>
                    <a class="c-link" href="/helper/recharge">如何充值</a>
                    <label class="c-remark">|</label>
                    <a class="c-link" href="/helper/betting">如何投注</a>
                    <label class="c-remark">|</label>
                    <a class="c-link" href="/helper/cash">如何领奖</a>
                    <label class="c-remark">|</label>
                    <a class="c-link" href="/helper/cash">如何提现</a>
                </p>
            </div>
            <div class="pt15 question-types clear">
                <div>
                    <div class="divider">
                        <i></i>
                        <b></b>
                        <label class="c-dark"><strong>常见问题</strong></label>
                    </div>
                    <ul>
                      <li><label>.</label><a class="c-main" href="/helper/question">在福彩娱乐注册需要收费吗？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/question">有银行卡就可以在福彩娱乐充值了吗？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/question">中奖后如何返奖？</a></li>
                    </ul>
                </div>
                <div>
                    <div class="divider">
                        <i></i>
                        <b></b>
                        <label class="c-dark"><strong>个人帐号</strong></label>
                    </div>
                    <ul>
                      <li><label>.</label><a class="c-main" href="/helper/register">如何注册成为福彩娱乐用户？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/register">为什么需要完善个人信息？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/security">怎么保护中奖者的个人信息？</a></li>
                    </ul>
                </div>
                <div>
                    <div class="divider">
                        <i></i>
                        <b></b>
                        <label class="c-dark"><strong>充值提现</strong></label>
                    </div>
                    <ul>
                      <li><label>.</label><a class="c-main" href="/helper/recharge">福彩娱乐支持哪些充值方式？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/cash">中奖后如何领奖？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/cash">提款金额有没有限制？</a></li>
                    </ul>
                </div>
                <div>
                    <div class="divider">
                        <i></i>
                        <b></b>
                        <label class="c-dark"><strong>规则说明</strong></label>
                    </div>
                    <ul>
                      <li><label>.</label><a class="c-main" href="/helper/betting">网上投注流程图（以双色球为例）？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/betting">什么是代购？</a></li>
                        <li><label>.</label><a class="c-main" href="/helper/betting">如何查询代购记录？</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

   @include("/footer.html"){}
    <input type="hidden" value="0" id="hidDisabledVercode">
    <script src="${ctxPath}/static/js/jquery-1.8.3.min.js"></script>
    <div id="cnzz_1540086467017_C9083CDB" style="display: none;"></div>
    <script src="${ctxPath}/static/js/layer.js"></script>
    <script src="${ctxPath}/static/js/comm.js"></script>
    <script src="${ctxPath}/static/js/pc_comm.js"></script>
    

</body></html>