<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>
      常见问题 - 福彩娱乐
    </title>
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/comm.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/pc_comm.css">

    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/left_nav.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/bzzx/helper_comm.css">
    <link rel="stylesheet" href="${ctxPath}/static/css/layer.css" id="layuicss-skinlayercss">
  </head>
  <body>
    @include("/top.html"){}
    <div class="content-container pt10 clear">
      <div class="left-nav narrow-content fl">
        <h1>
          帮助中心
        </h1>
        <p>
          新手上路
        </p>
        <ul>
          <li class="">
          <a class="c-main" href="/helper">
            热门问题
          </a>
        </li>
        <li class="">
        <a class="c-main" href="/helper/question">
          常见问题
        </a>
      </li>
    </ul>
    <p>
      个人帐号
    </p>
    <ul>
      <li class="">
      <a class="c-main" href="/helper/register">
        登录注册
      </a>
    </li>
    <li class="">
    <a class="c-main" href="/helper/security">
      信息安全
    </a>
  </li>
</ul>
<p>
  充值提现
</p>
<ul>
  <li class="">
  <a class="c-main" href="/helper/recharge">
    账户充值
  </a>
</li>
<li class="active">
<a class="c-main" href="/helper/cash">
  兑奖提现
</a>
</li>
</ul>
<p>
  规则说明
</p>
<ul>
  <li class="">
  <a class="c-main" href="/helper/betting">
    网上投注
  </a>
</li>
<li class="">
<a class="c-main" href="/helper/chipped">
  跟单合买
</a>
</li>
<li class="">
<a class="c-main" href="/helper/level">
  战绩等级
</a>
</li>
</ul>
</div>


<div class="wide-content fr">
  <div class="main-box">
    <ol class="question-list">
      <li>
      <div id="tagWinning" onClick="doQuestion(this)" class="question-title medium-size c-main">
        <i>
        </i>
        <strong>
          中奖后如何领奖？
        </strong>
      </div>
      <ul class="question-answer hide">
        <li>
        本网站会"自动兑奖，自动返奖"，所有奖金均由网站系统自动开兑并自动返还到用户的百度彩票账户中。中奖金额100元以上的短信通知；5万以上的电话通知并核实用户身份。所中奖金可随时提现，并于1-3个工作日内转到用户自己的银行账户。
      </li>
    </ul>
  </li>
  <li>
  <div onClick="doQuestion(this)" class="question-title medium-size c-main">
    <i>
    </i>
    <strong>
      如何查询中奖情况？
    </strong>
  </div>
  <ul class="question-answer hide">
    <li>
    用户登录后点击首页顶部的“我的彩票”。
  </li>
  <li>
  在“我的彩票”页面左侧选择“消息中心”即可查看中奖消息。
</li>
</ul>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    中奖奖金如何扣税？
  </strong>
</div>
<ul class="question-answer hide">
  <li>

  根据彩票管理机构的相关规定，中奖彩票单注奖金超过1万元时，中奖人需要缴纳奖金的20％作为个人偶然所得税，税金由兑奖地管理机构代扣代缴。选择倍投投注时，只要开奖后单注奖金不超过1万元，就算翻倍后奖金超过1万元，此时也无须缴纳个人偶然所得税。
</li>
</ul>
</li>
<li>
<div id="tagCash" onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    如何提款？
  </strong>
</div>
<ul class="question-answer hide">
  <li>
  目前平台提供银行转账提款方式。支持全国绝大多数银行，包括中国工商银行、中国建设银行、交通银行、招商银行、中国农业银行、中国银行、中国光大银行、中国民生银行、兴业银行、广发银行股份有限公司等。
</li>
</ul>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    提款时需要注意哪些事项？
  </strong>
</div>
<div class="question-answer hide">
  <p>
    确认提款时提交的的银行信息的正确性。
  </p>
  <p>
    必须保证银行卡用户名与注册时提交的用户真实姓名一致。
  </p>
  <p>
    为了防止少数用户利用信用卡套现和洗钱的行为，保护正常用户的资金安全，本站针对提款做出如下规定：
  </p>
  <ul>
    <li>
    其当前充值金额消费满20%后，才能正常办理提款。
  </li>
  <li>
  当前充值金额消费不满20%的账户，按照充值的来源进行原路回退，到账时间受银行处理速度限制，一般不多于15天。并扣除退款过程所产生的手续费。
</li>
<li>
发现异常的提款审核时间大于1-3天的标准服务时间，处理时间不少于15天。
</li>
</ul>
</div>
</li>
<li>
<div id="tagCashMax" onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    提款金额有没有限制？
  </strong>
</div>
<ul class="question-answer hide">
  <li>
  本站单笔提款最低金额为10元，无最高限制。
</li>
</ul>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    提款次数有没有限制？
  </strong>
</div>
<ul class="question-answer hide">
  <li>
  为保证账户资金安全，会员提款每天限三次，如有特殊需求请致电客服人工受理。
</li>
</ul>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    提款需要手续费吗？
  </strong>
</div>
<div class="question-answer hide">
  <ul>
    <li>
    提款需要2%的手续费（三方支付平台收取）。
  </li>
</ul>
<p>
  注：遇网站活动期时可减免提现手续费。
</p>
</div>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    提款什么时候可以到账？
  </strong>
</div>
<div class="question-answer hide">
  <ul>
    <li>
    为了保障您的资金安全，您的提款申请成功并经核对无误后，将通过人工处理到第三方支付平台再汇到您的账户，请1-3个工作日后查询您的银行账户。（注意:处理时间:17点前,当日内处理;17点后,次日处理;节假日顺延）
  </li>
</ul>
<p>
  注：一般情况下2小时内可到账。
</p>
</div>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    提款不成功怎么办？
  </strong>
</div>
<div class="question-answer hide">
  <p>
    提款不成功分两种情况：
  </p>
  <ul>
    <li>
    <p>
      提款申请未成功：
    </p>
    <ul>
      <li>
      提款金额大于账户实有金额；
    </li>
    <li>
    提款时填写的银行卡姓名与用户注册时提交的用户真实姓名不一致。
  </li>
  <li>
  提款时填写的身份证号码与用户注册时提交的身份证号码不一致；
</li>
<li>
银行卡信息不符合规定格式；
</li>
</ul>
</li>
<li>
<p>
  提款申请成功，但提款失败：
</p>
<ul>
  <li>
  银行卡卡号填写错误，与用户姓名不符。银行退单；
</li>
<li>
提供的银行卡银行不接受公司对个人用户进行转账；
</li>
<li>
提款时填写的身份证号码与用户注册时提交的身份证号码不一致；
</li>
<li>
银行卡信息不符合规定格式；
</li>
</ul>
<p class="pl15">
  一旦发生上述现象，可拨打客服电话，或者发邮件到客服邮箱，由客服人员为您服务。
</p>
</li>
</ul>
</div>
</li>
<li>
<div onClick="doQuestion(this)" class="question-title medium-size c-main">
  <i>
  </i>
  <strong>
    如何查询提款记录？
  </strong>
</div>
<ul class="question-answer hide">
  <li>
  用户登录后点击首页顶部的“我的彩票”。
</li>
<li>
在"我的彩票"页面左侧选择"资金提现"，点击右上角"查看提款记录"。
</li>
</ul>
</li>
</ol>
</div>
</div>
</div>

 @include("/footer.html"){}
<input type="hidden" value="0" id="hidDisabledVercode">
<script src="${ctxPath}/static/js/jquery-1.8.3.min.js"> </script>
<script src="${ctxPath}/static/js/layer.js"></script>
<script src="${ctxPath}/static/js/comm.js"></script>
<script src="${ctxPath}/static/js/pc_comm.js"></script>
<script src="${ctxPath}/static/js/bzzx/helper_comm.js"></script>


</body>
</html>
