<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>注册登录 - 福彩娱乐</title>
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/comm.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/pc_comm.css">
    
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/index/left_nav.css">
    <link type="text/css" rel="stylesheet" href="${ctxPath}/static/css/bzzx/helper_comm.css">

<link rel="stylesheet" href="${ctxPath}/static/css/layer.css" id="layuicss-skinlayercss"></head>
<body>
   @include("/top.html"){}
<div class="content-container pt10 clear">
    <div class="left-nav narrow-content fl">
    <h1>帮助中心</h1>
    <p>新手上路</p>
    <ul>
        <li><a class="c-main" href="/helper">热门问题</a></li>
        <li class=""><a class="c-main" href="/helper/question">常见问题</a></li>
    </ul>
    <p>个人帐号</p>
    <ul>
        <li class="active"><a class="c-main" href="/helper/register">登录注册</a></li>
        <li class=""><a class="c-main" href="/helper/security">信息安全</a></li>
    </ul>
    <p>充值提现</p>
    <ul>
        <li class=""><a class="c-main" href="/helper/recharge">账户充值</a></li>
        <li class=""><a class="c-main" href="/helper/cash">兑奖提现</a></li>
    </ul>
    <p>规则说明</p>
    <ul>
        <li class=""><a class="c-main" href="/helper/betting">网上投注</a></li>
        <li class=""><a class="c-main" href="/helper/chipped">跟单合买</a></li>
        <li class=""><a class="c-main" href="/helper/level">战绩等级</a></li>
    </ul>
</div>

    <div class="wide-content fr">
        <div class="main-box">
            <ol class="question-list">
                <li>
                    <div id="tagRegister" onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>如何注册成为福彩娱乐用户？</strong></div>
                    <ul class="question-answer hide">
                        <li>进入福彩娱乐首页（http://www.haoy1314.com），在首页顶部点击“注册”，进入用户注册页面。</li>
                        <li>在注册页面阅读并同意福彩娱乐注册协议。</li>
                        <li>在注册页面填写相关信息并提交。</li>
                        <li>注册成功，系统返回注册成功信息。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>在福彩娱乐注册需要收费吗？</strong></div>
                    <ul class="question-answer hide">
                        <li>在福彩娱乐注册新用户是免费的，不收取任何费用。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>注册时用户需要注意什么？</strong></div>
                    <ul class="question-answer hide">
                        <li>用户名一旦提交，不可更改，请选择容易记忆且安全级别高的用户名，并妥善保管。</li>
                        <li>彩票中心规定按实名制销售彩票，为确保用户中奖权益，请务必填写真实姓名。</li>
                        <li>身份证件是用户领取大奖的凭证，请务必填写个人真实身份证信息。</li>
                        <li>填写真实有效且经常使用的电子邮箱，便于接收信息资料。</li>
                    </ul>
                </li>
                <li>
                    <div id="tagInfo" onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>注册时为什么要完善个人信息？</strong></div>
                    <ul class="question-answer hide">
                        <li>按照彩票中心规定，用户中大奖须本人亲自领取，因此注册时须提交用户真实姓名，否则会影响用户领取大奖。如用户注册时没有填写真实姓名，请尽快联系客服人员进行修改。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>注册时把身份证号填写错误有什么影响？</strong></div>
                    <ul class="question-answer hide">
                        <li>按照彩票中心规定，身份证是用户领取大奖的凭证，因此注册时须提交用户本人真实身份证号，否则会影响用户领取大奖。如用户注册时没有填写真实身份证号，请尽快联系客服人员进行修改。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>注册时填写的身份证号过期了怎么办？</strong></div>
                    <ul class="question-answer hide">
                        <li>可以联系我们的工作人员进行修改。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>真实姓名和身份证号填写错误如何修改？</strong></div>
                    <div class="question-answer hide">
                        <p>一经注册，用户本人无法直接修改真实姓名和身份证号码，但可以联系我们的工作人员进行修改。操作流程如下：</p>
                        <ul>
                            <li>联系客服人员（可通过电话，邮件等途径），说明修改的原因；</li>
                            <li>用户通过传真或邮件（邮件目前可以做法律凭证）的形式，发出正式的授权文件；</li>
                            <li>客服部收到授权后，由专员核实信息提交报告，交领导批准签字；</li>
                            <li>主管领导签字后，技术专员在有人监督的情况下，修改用户的错误信息。</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>验证码有何作用？</strong></div>
                    <ul class="question-answer hide">
                        <li>设置验证码是为了提高系统的安全性，它可以有效防止针对某个特定账号的暴力破解（即用特定程序进行不断的登录尝试），使用验证码也是目前各网站通行的安全措施。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>登录时为什么看不到验证码或总是提示验证码不正确？</strong></div>
                    <div class="question-answer hide">
                        <p>看不到验证码或者总是提示验证码输入错误，可能的原因有：</p>
                        <ul>
                            <li>网速过慢，请多刷新几次页面；</li>
                            <li>输入错误，数字有全角和半角之分，请换用半角方式输入；</li>
                            <li>安全级别设置过高，请将IE的安全级别设为“默认级别”；</li>
                            <li>网页没有自动更新，请先设置浏览器的“Internet临时文件”为“自动”更新。</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>忘记了登录密码怎么办？</strong></div>
                    <ul class="question-answer hide">
                        <li>忘记密码后可以联系我们的工作人员进行修改。操作流程如下：</li>
                        <li>联系客服人员（可通过电话，邮件等途径），说明来意；</li>
                        <li>告知帐号及身份信息。</li>
                        <li>客服确认身份后设置新密码。</li>
                    </ul>
                </li>
                <li>
                    <div onClick="doQuestion(this)" class="question-title medium-size c-main"><i></i><strong>如何修改登录密码？</strong></div>
                    <ul class="question-answer hide">
                        <li>登录后进入首页，点击“我的彩票”。</li>
                        <li>在“我的彩票”页面左侧“信息管理”中选择“密码管理”。</li>
                        <li>用户输入旧密码，并设置新密码。</li>
                        <li>提交信息，修改密码成功，系统提示成功信息。</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>
  @include("/footer.html"){}
   <input type="hidden" value="0" id="hidDisabledVercode">
   <script src="${ctxPath}/static/js/jquery-1.8.3.min.js"></script>
   <div id="cnzz_1540118775620_C9083CDB" style="display: none;"></div>
    <script src="${ctxPath}/static/js/layer.js"></script>
    <script src="${ctxPath}/static/js/comm.js"></script>
    <script src="${ctxPath}/static/js/pc_comm.js"></script>
    
    <script src="${ctxPath}/static/js/bzzx/helper_comm.js"></script>


</body></html>